[Desktop Entry]
Encoding=UTF-8
Name=Fujicoin Core
Comment=Connect to the Fujicoin P2P Network
Comment[de]=Verbinde mit dem Fujicoin peer-to-peer Netzwerk
Comment[fr]=Fujicoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Fujicoin, eşten eşe kriptografik sanal para birimi
Exec=fujicoin-qt %u
Terminal=false
Type=Application
Icon=fujicoin128
MimeType=x-scheme-handler/fujicoin;
Categories=Office;Finance;
