policy_module(fujicoin, 1.100.1)

########################################
#
# Declarations
#

type fujicoin_t;
type fujicoin_exec_t;
init_daemon_domain(fujicoin_t, fujicoin_exec_t)

permissive fujicoin_t;

type fujicoin_initrc_exec_t;
init_script_file(fujicoin_initrc_exec_t)

type fujicoin_conf_t;
files_type(fujicoin_conf_t)

type fujicoin_var_lib_t;
files_type(fujicoin_var_lib_t)

type fujicoin_var_run_t;
files_type(fujicoin_var_run_t)

type fujicoin_port_t;
corenet_port(fujicoin_port_t)

########################################
#
# fujicoin local policy
#
allow fujicoin_t self:process { fork };

allow fujicoin_t self:fifo_file rw_fifo_file_perms;
allow fujicoin_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(fujicoin_t, fujicoin_conf_t, fujicoin_conf_t)
manage_files_pattern(fujicoin_t, fujicoin_conf_t, fujicoin_conf_t)

manage_dirs_pattern(fujicoin_t, fujicoin_var_lib_t, fujicoin_var_lib_t)
manage_files_pattern(fujicoin_t, fujicoin_var_lib_t, fujicoin_var_lib_t)
files_var_lib_filetrans(fujicoin_t, fujicoin_var_lib_t, { dir file })

manage_dirs_pattern(fujicoin_t, fujicoin_var_run_t, fujicoin_var_run_t)
manage_files_pattern(fujicoin_t, fujicoin_var_run_t, fujicoin_var_run_t)

sysnet_dns_name_resolve(fujicoin_t)
corenet_all_recvfrom_unlabeled(fujicoin_t)

allow fujicoin_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(fujicoin_t)
corenet_tcp_sendrecv_generic_node(fujicoin_t)
corenet_tcp_sendrecv_all_ports(fujicoin_t)
corenet_tcp_bind_generic_node(fujicoin_t)

gen_require(`
    type fujicoin_port_t;
')
allow fujicoin_t fujicoin_port_t:tcp_socket name_bind;

gen_require(`
    type fujicoin_port_t;
')
allow fujicoin_t fujicoin_port_t:tcp_socket name_connect;

domain_use_interactive_fds(fujicoin_t)

files_read_etc_files(fujicoin_t)

miscfiles_read_localization(fujicoin_t)

sysnet_dns_name_resolve(fujicoin_t)

allow fujicoin_t fujicoin_exec_t:file execute_no_trans;
allow fujicoin_t self:process setsched;
corecmd_exec_ls(fujicoin_t)
corenet_tcp_connect_http_port(fujicoin_t)
dev_read_urand(fujicoin_t)
fs_getattr_xattr_fs(fujicoin_t)
kernel_read_system_state(fujicoin_t)
